body{

margin:0;

font-family:Inter;

background:
radial-gradient(circle at top,#3a1f1a,#140b09);

color:#f3d7b2;

}

.top{

text-align:center;

padding:20px;

font-family:Cinzel;

color:#e7c28b;

font-size:24px;

}

.card{

background:linear-gradient(145deg,#2a1411,#1a0c0a);

border:1px solid #d6a56a;

border-radius:18px;

padding:20px;

margin:20px;

box-shadow:
0 0 25px rgba(214,165,106,0.25);

}

.btn{

background:linear-gradient(#a8743a,#e3b07a);

border:none;

padding:14px;

width:100%;

border-radius:12px;

font-weight:bold;

color:#2a1411;

margin-top:10px;

}

.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

padding:20px;

}

.menu-card{

background:#1a0c0a;

border:1px solid #d6a56a;

border-radius:16px;

text-align:center;

padding:20px;

font-size:24px;

color:#e6c18d;

text-decoration:none;

box-shadow:
0 0 10px rgba(214,165,106,0.2);

}

.menu-card p{

font-size:14px;

margin-top:10px;

}

.bottom{

position:fixed;

bottom:0;

width:100%;

display:flex;

justify-content:space-around;

background:#1a0c0a;

border-top:1px solid #d6a56a;

padding:10px;

}

.bottom a{

color:#d6a56a;

font-size:22px;

text-decoration:none;

}
